<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - POL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/POL1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sstyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
   
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
        <div class="sidebar">
            <header>POL</header>
                <ul>
                     @*<li><a href="#"><i class="fas fa-qrcode"></i>Dashboard</a></li>
                     <li><a href="#"><i class="fas fa-link"></i>Shortcuts</a></li>
                     <li><a href="#"><i class="fas fa-stream"></i>Overview</a></li>
                     <li><a href="#"><i class="fas fa-calendar-week"></i>Events</a></li>
                     <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
                     <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
                     <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li>*@


                    <li><a href="/Index1"><i class="fas fa-envelope"></i> Receipt</a></li>
                    <li><a href="/Index2"><i class="fas fa-book"></i> Add New Item</a></li>
                    <li><a href="/Index3"><i class="fas fa-cog"></i> Add New Supplier</a></li>
                    <li><a href="#"><i class="fas fa-sliders-h"></i> Inventory Report</a></li>
                    <li><a id="settingsLink" href="#"><i class="fas fa-cog"></i>User Settings</a></li>
                    <li><a id="settingsLink" href="#"><i class="fas fa-cog"></i> Admin Settings</a></li>
                    <li><a href="/Index"><i class="fas fa-qrcode"></i>Main Page</a></li>
                </ul>
        </div>
        
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - POL1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>